<section class="newsletter">
  <div class="contenido-newsletter contenedor">
      <div class="texto-newsletter">
          <h2>Recibe Actualizaciones</h2>
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aspernatur vitae maxime praesentium
              assumenda nulla consequatur illo facere ullam, debitis dolore. Aliquid a recusandae nam beatae dolor
              veniam et, exercitationem placeat?</p>

          <form class="formulario">
              <div class="input">
                  <input type="text" placeholder="Tu Email">
              </div>

              <input type="submit" value="Inscribirme">
          </form>
      </div>
  </div>
</section>
